body{
    background-color: rgb(132, 182, 215);
    font-family:Arial, Helvetica, sans-serif;
}
.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    /* height: 100vh; */
    margin: 10px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;

}
#card1{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    border: 2px solid black;
    padding: 10px;
}
#card2{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    border: 2px solid black;
    padding: 10px;
}
#card3{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    border: 2px solid black;
    padding: 10px;
}
#card4{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    border: 2px solid black;
    padding: 10px;
}
img{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    padding: 20px;
}
button{
    padding: 10px 20px;
    background-color: rgb(9, 32, 57);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}